<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>

    <h1>This is home page </h1>
    <h3><%= ["heloo" , "bonjour" , "namste" , " babau"][3] %></h3>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi sequi quisquam. Cumque, unde debitis.
        Esse, beatae, repudiandae fugiat optio nam, et ab amet laboriosam dolor voluptates rerum ipsum odit consectetur
        eaque sequi tempore? Sequi ad voluptas maxime dicta! Illum corporis veniam laboriosam, aut necessitatibus hic,
        aspernatur impedit unde natus suscipit cupiditate eveniet voluptate, eaque ratione dolores nemo culpa nisi a
        iusto pariatur modi quod sit consequuntur velit. Dolore officiis voluptates incidunt magnam saepe dignissimos
        obcaecati sint animi iusto non sed facilis, possimus accusamus voluptate, nemo eligendi, aliquid doloribus
        fugiat voluptatem. Quaerat tempora incidunt culpa tempore! Earum, aspernatur? Laudantium nostrum eaque totam
        odio molestias necessitatibus temporibus quibusdam nulla provident, delectus hic perferendis sint unde harum
        quae culpa error enim ipsam repudiandae pariatur dicta laboriosam obcaecati? Quidem pariatur qui ad eius
        sapiente natus hic quasi maxime corrupti aut in veritatis tenetur tempore nemo cupiditate beatae minus inventore
        veniam, deserunt adipisci ipsa praesentium? Sequi provident, autem molestiae distinctio quidem esse tempore
        inventore eligendi sapiente modi architecto voluptatum quas praesentium accusantium soluta quasi cupiditate
        delectus in? Aperiam dolorem quaerat temporibus magni reprehenderit placeat sunt numquam illo asperiores!
        Consequatur possimus nostrum perspiciatis laboriosam amet, omnis quis asperiores consequuntur id molestiae odit
        magnam ipsa tenetur reprehenderit enim. Tempore excepturi quia magni quisquam asperiores rem fugiat error
        suscipit beatae exercitationem natus illo dolorum consequatur porro fugit soluta ea laboriosam totam odit
        aperiam, quasi voluptas nam. At exercitationem inventore ipsum voluptate minus. Officiis eaque ipsam
        reprehenderit vitae perferendis alias possimus, iure nemo explicabo libero laudantium quisquam ducimus dolores
        illo obcaecati molestiae neque distinctio autem saepe quis, deserunt, accusantium repudiandae magnam quaerat?
        Dolores, nesciunt impedit id beatae necessitatibus nam quaerat cumque non consequuntur mollitia eius molestias
        reiciendis pariatur voluptas natus eos tempora? Beatae recusandae, soluta harum earum maiores nobis nisi
        molestias totam deserunt provident corrupti facilis illo quibusdam?</p>

        <button>Click me !</button>

</body>

</html>